body {
    background-image: linear-gradient(rgb(57, 57, 251), rgb(20, 0, 120), rgb(57, 57, 251));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#clock {
    height: 80px;
    width: 350px;
    background-color: rgb(57, 57, 251);
    color: white;
    border-radius: 2%;
    box-shadow: 1px 4px 9px 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 600;
}